/********** Template CSS **********/
:root {
    --primary: #F77D0A;
    --secondary: #2B2E4A;
    --light: #F4F5F8;
    --dark: #1C1E32;
    --teal: #1928b2;

}

/*body { this body is for dark-mode*/
/*  padding: 25px;*/
/*  background-color: white;*/
/*  color: black;*/
  /*font-size: 25px;*/
/*}*/

.dark-mode {
  /*background-color: black;
  color: white;*/
}

p {
  /*text-align: center;
  font-size: 20px;
  margin-top: 0px;*/
}

body {

/* width: 1400px; /* Make this site really wide */
  overflow-x: hidden; 
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
.font-weight-medium {
    font-weight: 500 !important;
}
h6, .text-start p
.font-weight-medium {
    font-weight: 500 !important;
    font-family:  "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-start p {
    font-weight: 500 !important;
    font-family:  "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, a {
  text-decoration: none;
  font-weight: 600;
}

.slider-link {

    padding: 7px 16px;
    border: 1px solid;
    border-radius: 90px;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
}

.col-lg-10 p{

    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 35;
    color: brown;
}

.col-lg-10 a{
    font-weight: 600 !important;
	text-decoration: none;
}

.text-left h3, p, a {

    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

 .bg-teal {
    background-color: #1928b2 !important;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.input-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding-left: 5px;
    border-radius: 10px;

}
 input {
    border: none;
    outline: none;
    background-color: transparent;
      
}

.navbar-nav {
 margin-left: 75px;
}


.navbar-dark .navbar-nav .nav-link {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (width: 991.98px) {
   .navbar-nav .navbar-dark .nav-link {
        padding: 10px 15px;
    }
}

@media (width: 1024px) {
   .navbar-nav {
 display: flex;
 flex-wrap: wrap;

}
    }

.img-box img {
    width: 1400px;
    height: 650px;
}

/* slider section */
.slider_section {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  padding: 115px 0 75px 0;
}

.slider_section #customCarousel1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider_section #customCarousel1 .carousel-inner,
.slider_section #customCarousel1 .carousel-item,
.slider_section #customCarousel1 .img_container {
  height: 100%;
}

.slider_section #customCarousel1 .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider_section .detail-box {
  position: relative;
  width: 100%;
  z-index: 4;
}

.slider_section .detail-box .inner_detail-box {
  background-color: rgba(58, 63, 88, 0.8);
  color: #ffffff;
  padding: 45px;
  border-radius: 5px;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .slider-link {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #ffffff;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 10px;
}

.slider_section .detail-box .slider-link:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_section .img-box img {
  min-width: 100%;
  min-height: 100%;
}

.slider_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
  width: 50px;
  height: 50px;
  z-index: 5;
  opacity: 1;
  border-radius: 5px;
  font-size: 12px;
  background-color: #e45441;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .carousel-control-prev {
  left: 45px;
  top: 50%;
}

.slider_section .carousel-control-next {
  right: 45px;
  top: 50%;
}
/* End slider section */

/* End slider section */

.roles {
    padding: 30px;
    text-align: center;
    background: var(--light);
    transition: .5s;
}

.roles:hover,
.roles.active {
    background: var(--teal);
}

.roles h4 {
    transition: .5s;
}

.roles:hover h4,
.roles.active h4 {
    color: var(--light);
}


@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

  .slider_section .page-slide-nav {
  z-index: 5;
  opacity: 1;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  left: 42%;
  top: 15%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    .page-header {
        height: 300px;
    }
}

/* 
---------------------------------------------
contact Us Page
--------------------------------------------- 
*/

.contact-us {
  margin-top: 90px;
  border-bottom: 3px dotted #eee;
  padding-bottom: 90px;
}

.contact-us .section-heading {
  margin-bottom: 40px;
}

.contact-us #map {
  margin-right: 30px;
}

.contact-us form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #000066;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contact-us form input::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contact-us form textarea {
  width: 100%;
  height: 140px;
  min-height: 120px;
  max-height: 200px;
  margin-top: 30px;
  margin-bottom: 25px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #000066;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}

.contact-us form textarea::focus {
  border-color: #2a2a2a;
  border-radius: 0px;
}

.contact-us form button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2B2E4A;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}

.contact-us form button:hover {
  background-color: #fff;
  border: 1px solid #2B2E4A;
  color: #2a2a2a;
}

#cont-alt a{
	font-weight: 600 !important;
	text-decoration: none;
}

#cont-alt {
	color: #000066;
}
.bg-banner {
    background: linear-gradient(rgba(13, 21, 92, .9), rgba(13, 21, 92, .9)), url(../img/bg-banner-1.jpg);
    background-attachment: fixed;
}


